*{
    margin: 0;
    padding: 0;
}

canvas{
    border:3px solid chartreuse;
    /* background-color: #be32e5; */
    /* width: 600;
    height: 400; */
}

.stats{
    border: 5px solid red;
    width: 50px;
    height: 50px;;
    box-shadow: 0px 0px 20px 10px white;
}

/* 
.bodyContainer{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    font-family: 'Share Tech Mono', monospace;
    background-size: 100%;
    background-color: black;
    color: white;
} */

.kills{
    border: 5px solid red;
    width: 30vw;
    height: 20vh;
    box-shadow: 0px 0px 20px 10px white;
}

.ussView{
width: 50%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
/* .left{

}
.right{
    
} */

.ussStats{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;
    border-radius: 2%;
}

.alienStats{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;
}